USE [master]
GO
/****** Object:  Database [C:\MYTESTPROJECTS\MCD\DIPLOMA\PMTOOL\RBAC.MDF]    Script Date: 01.06.2014 17:03:06 ******/
CREATE DATABASE [C:\MYTESTPROJECTS\MCD\DIPLOMA\PMTOOL\RBAC.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rbac', FILENAME = N'C:\MyTestProjects\MCD\diploma\pmtool\rbac.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'rbac_log', FILENAME = N'C:\MyTestProjects\MCD\diploma\pmtool\rbac_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\MYTESTPROJECTS\MCD\DIPLOMA\PMTOOL\RBAC.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\MYTESTPROJECTS\MCD\DIPLOMA\PMTOOL\RBAC.MDF]
GO
/****** Object:  Table [dbo].[Action]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Action](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ActiveRole]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveRole](
	[Session_Id] [int] NOT NULL,
	[Role_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC,
	[Session_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuthUserRole]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthUserRole](
	[User_Id] [int] NOT NULL,
	[Role_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC,
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DynamicSOD]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DynamicSOD](
	[Role_Id] [int] NOT NULL,
	[ExclusiveRole_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExclusiveRole_Id] ASC,
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Object]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Object](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Policy_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PermissionPerObject]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionPerObject](
	[Object_Id] [int] NOT NULL,
	[Action_Id] [int] NOT NULL,
	[Permission_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Object_Id] ASC,
	[Action_Id] ASC,
	[Permission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Policy]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Cardinality] [int] NULL,
	[Policy_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleHierarchy]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleHierarchy](
	[SeniorRole_Id] [int] NOT NULL,
	[JuniorRole_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JuniorRole_Id] ASC,
	[SeniorRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[Role_Id] [int] NOT NULL,
	[Permission_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Permission_Id] ASC,
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Session]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[User_Id] [int] NOT NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaticSOD]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticSOD](
	[Role_Id] [int] NOT NULL,
	[ExclusiveRole_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExclusiveRole_Id] ASC,
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 01.06.2014 17:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Policy_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[ActiveRole]  WITH CHECK ADD  CONSTRAINT [FK_ActiveRole_Role] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[ActiveRole] CHECK CONSTRAINT [FK_ActiveRole_Role]
GO
ALTER TABLE [dbo].[ActiveRole]  WITH CHECK ADD  CONSTRAINT [FK_ActiveRole_Session] FOREIGN KEY([Session_Id])
REFERENCES [dbo].[Session] ([Id])
GO
ALTER TABLE [dbo].[ActiveRole] CHECK CONSTRAINT [FK_ActiveRole_Session]
GO
ALTER TABLE [dbo].[AuthUserRole]  WITH CHECK ADD  CONSTRAINT [FK_AuthUserRole_Role] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[AuthUserRole] CHECK CONSTRAINT [FK_AuthUserRole_Role]
GO
ALTER TABLE [dbo].[AuthUserRole]  WITH CHECK ADD  CONSTRAINT [FK_AuthUserRole_User] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[AuthUserRole] CHECK CONSTRAINT [FK_AuthUserRole_User]
GO
ALTER TABLE [dbo].[DynamicSOD]  WITH CHECK ADD  CONSTRAINT [FK_DynamicSOD_ExclusiveRole] FOREIGN KEY([ExclusiveRole_Id])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[DynamicSOD] CHECK CONSTRAINT [FK_DynamicSOD_ExclusiveRole]
GO
ALTER TABLE [dbo].[DynamicSOD]  WITH CHECK ADD  CONSTRAINT [FK_DynamicSOD_Role] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[DynamicSOD] CHECK CONSTRAINT [FK_DynamicSOD_Role]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Policy] FOREIGN KEY([Policy_Id])
REFERENCES [dbo].[Policy] ([Id])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Policy]
GO
ALTER TABLE [dbo].[PermissionPerObject]  WITH CHECK ADD  CONSTRAINT [FK_PermissionPerObject_Action] FOREIGN KEY([Action_Id])
REFERENCES [dbo].[Action] ([Id])
GO
ALTER TABLE [dbo].[PermissionPerObject] CHECK CONSTRAINT [FK_PermissionPerObject_Action]
GO
ALTER TABLE [dbo].[PermissionPerObject]  WITH CHECK ADD  CONSTRAINT [FK_PermissionPerObject_Object] FOREIGN KEY([Object_Id])
REFERENCES [dbo].[Object] ([Id])
GO
ALTER TABLE [dbo].[PermissionPerObject] CHECK CONSTRAINT [FK_PermissionPerObject_Object]
GO
ALTER TABLE [dbo].[PermissionPerObject]  WITH CHECK ADD  CONSTRAINT [FK_PermissionPerObject_Permission] FOREIGN KEY([Permission_Id])
REFERENCES [dbo].[Permission] ([Id])
GO
ALTER TABLE [dbo].[PermissionPerObject] CHECK CONSTRAINT [FK_PermissionPerObject_Permission]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_Role_Policy] FOREIGN KEY([Policy_Id])
REFERENCES [dbo].[Policy] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_Role_Policy]
GO
ALTER TABLE [dbo].[RoleHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_RoleHierarchy_JuniorRole] FOREIGN KEY([JuniorRole_Id])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[RoleHierarchy] CHECK CONSTRAINT [FK_RoleHierarchy_JuniorRole]
GO
ALTER TABLE [dbo].[RoleHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_RoleHierarchy_SeniorRole] FOREIGN KEY([SeniorRole_Id])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[RoleHierarchy] CHECK CONSTRAINT [FK_RoleHierarchy_SeniorRole]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Permission] FOREIGN KEY([Permission_Id])
REFERENCES [dbo].[Permission] ([Id])
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Permission]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Role] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Role]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_User] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_User]
GO
ALTER TABLE [dbo].[StaticSOD]  WITH CHECK ADD  CONSTRAINT [FK_StaticSOD_ExclusiveRole] FOREIGN KEY([ExclusiveRole_Id])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[StaticSOD] CHECK CONSTRAINT [FK_StaticSOD_ExclusiveRole]
GO
ALTER TABLE [dbo].[StaticSOD]  WITH CHECK ADD  CONSTRAINT [FK_StaticSOD_Role] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[StaticSOD] CHECK CONSTRAINT [FK_StaticSOD_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Policy] FOREIGN KEY([Policy_Id])
REFERENCES [dbo].[Policy] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Policy]
GO
USE [master]
GO
